@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Sigmar&display=swap');

/* Base body styles */
body {
    font-family: "Roboto", sans-serif;
    background-color:#AA8960;
    color:#000;
}

/* Set the headings */
h1, h2, h3, h4, h5, h6 {
    font-family: "Sigmar", sans-serif;
    text-align:center;
}
h1 {
    font-size:40pt;
}

/* The Header */
header {
    text-align:center;
}

/* The Hero */
#hero, footer {
    text-align:center;
    background-color:#5d7480;
    padding:20px;
    border:10px solid #5c9fbf;
    border-radius:40px;
}
#hero img {
    width:400px;
    max-width:100%; 
}

/* Biographical Info */
#bio {
    text-align:center;
}

/* Hobbies */
#hobbies ul li:nth-child(even) {
    color:#55514c;
}

/* Image Gallery */
#gallery {
    border: 10px solid #5d7480;
    border-radius:40px;
}
#gallery img {
    max-width:100%; 
}
#gallery hr {
    border: none;
    border-top: 10px solid #5d7480;
}
#gallery figure {
    text-align:center;
}